<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am an experienced data scientist and algorithm engineer with 5+ years of data modeling, 3+ years of algorithm platform development, 3+ years of team management experience. Leading the development of many Big-Data platforms and products in Retail Industry. Currently working on AI algorithm platform and MLOps related work.
            </p>
            <p class="paragraph-text justify-text">
                I graduated from Xiamen-University major in Statistics. I love data science and coding, and am very proficient in Machine-learning and Deep-learning.
            </p>
            <p class="paragraph-text justify-text">
                I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
